<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/web/css/register.css">
    <title>Inscription</title>
</head>
<body>
    
</body>
</html>